@import 'clearfix';
$phone: 'only screen and (max-width: 800px)';
$desktop: 'only screen and (min-width: 800px)';

#heading {
  text-align: center;
}

#welcome, #login {
  float: left;
}


// BEGIN CSS FOR centered top-bar
@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: center; }

  ul.center-buttons {
    display: inline-block; }

  .logo {
    left: 5px;
    top: -2px;
    position: absolute; }
}

.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px; }

.menu-icon {
  padding-top: 1.2rem; }

.top-bar.expanded {
  background: #333333; }

.logo {
  margin-top: .5rem; }

// larger screen styles
@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: center;
  }

  ul.center-buttons {
    display: inline-block;
  }

  .logo {
    left: 5px;
    top: -2px;
    position: absolute;
  }
}

// some mobile resets
.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px;
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: #333333;
}
// END CSS FOR top-bar