// @import 'settings';     // settings must be before all JS files
@import 'clearfix';
$phone: 'only screen and (max-width: 800px)';
$desktop: 'only screen and (min-width: 800px)';
$topbar-link-bg-color-hover: 'gray';

.centered {
  text-align: center;
}

#login {
  display: inline-block;
}

.moveLink {
  width: 33%;
  text-align: center;
}
