
<template name="Taskboard">
  <div class="controlButtons row">
    <div class="medium-6 small-12 columns">
      <div class="fixed contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <!-- Remove "menu-icon" to get rid of menu icon. Take out "Tasks" to just have icon alone -->
          <li class="toggle-topbar menu-icon">Tasks: </li>
        </ul>
        <section class="top-bar-section">
          <ul class="center-buttons">
            <li class="divider"></li>
            <li><a id="addTask" data-reveal-id="addTaskModal" href="#">Add</a></li>
            <li class="divider"></li>
            <li><a id="editTask" data-reveal-id="editTaskModal" href="#">Edit</a></li>
            <li class="divider"></li>
            <li><a id="deleteTask" data-reveal-id="deleteTaskModal" href="#">Delete</a></li>
            <li class="divider"></li>
            <li><a id="todo" href="#">To Do</a></li>
            <li class="divider"></li>
            <li><a id="progress" href="#">In Progress</a></li>
            <li class="divider"></li>
            <li><a id="done" href="#">Done</a></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
      </div>
    </div>
  </div>

  <div class="taskList row">
    <div class="taskRow small-12 large-4 columns" id="todoCol">
      <h2 id="todoHeader">To Do</h2>
      {{#each todoTasks}}
        {{> Task }}
      {{/each}}
    </div>
    <div class="taskRow small-12 large-4 columns" id="progressCol">
      <h2 id="progressHeader">In Progress</h2>
      {{#each progressTasks}}
        {{> Task }}
      {{/each}}
    </div>
    <div class="taskRow small-12 large-4 columns" id="doneCol">
      <h2 id="doneHeader">Done</h2>
      {{#each doneTasks}}
        {{> Task }}
      {{/each}}
    </div>
  </div>
 </template>

<template name="AddTask">
  <div id="addTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Add Task</h2>
    <form id="addTaskForm" action="tasks/add">
      <input id="addTaskTitle" type="text" value="Title">
      <textarea id="addTaskBody">Description</textarea>
      <input type="submit">
    </form>
    <a href="#" class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</template>

<template name="EditTask">
  <div id="editTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Edit Task</h2>
    <form id="editTaskForm" action="tasks/edit">
      <input id="editTaskTitle" type="text" value="{{taskTitle}}">
      <textarea id="editTaskBody">{{taskBody}}</textarea>
      <input type="submit">
    </form>
    <a href="#" class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</template>

