
<template name="Taskboard">
  <div class="taskButtons row">
    <div class="small-12 columns">
      <ul class="button-group round even-3">
        <li class="centered"><a id="addTask" data-reveal-id="addTaskModal" href="#" class="button">Add Task</a></li>
        <li class="centered"><a id="editTask" data-reveal-id="editTaskModal" href="#" class="button">Edit Task</a></li>
        <li class="centered"><a id="deleteTask" data-reveal-id="deleteTaskModal" href="#" class="button">Delete Task</a></li>
      </ul>
    </div>
  </div>
  <div class="controlButtons row">
    <div class="small-12 columns">
      <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar>
          <section class="top-bar-section">
            <ul class="center-buttons">
              <li class="divider"></li>
              <li class="moveLink"><a id="todo" href="#">Move &gt; ToDo</a></li>
              <li class="divider"></li>
              <li class="moveLink"><a id="progress" href="#">Move &gt; In Progress</a></li>
              <li class="divider"></li>
              <li class="moveLink"><a id="done" href="#">Move &gt; Done</a></li>
              <li class="divider"></li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>

  <div class="taskList row">
    <div class="taskRow small-12 large-4 columns" id="todoCol">
      <h3 id="todoHeader" class="centered">To Do</h3>
      <!-- todoTasks must match variable defined in JS helpers; Task is the template name to render -->
      {{#each todoTasks}}
        {{> Task }}
      {{/each}}
    </div>
    <div class="taskRow small-12 large-4 columns" id="progressCol">
      <h3 id="progressHeader" class="centered">In Progress</h3>
      {{#each progressTasks}}
        {{> Task }}
      {{/each}}
    </div>
    <div class="taskRow small-12 large-4 columns" id="doneCol">
      <h3 id="doneHeader" class="centered">Done</h3>
      {{#each doneTasks}}
        {{> Task }}
      {{/each}}
    </div>
  </div>
 </template>

<template name="AddTask">
  <div id="addTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="modalTitle">Add Task</h3>
    <form id="addTaskForm" action="tasks/add">
      <input id="addTaskTitle" type="text">
      <textarea id="addTaskBody" rows="10" maxlength="200" placeholder="Max characters is 200"></textarea>
      <input type="submit">
    </form>
    <a href="#" class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</template>

<template name="EditTask">
  <div id="editTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="modalTitle">Edit Task</h3>
    <form id="editTaskForm" action="tasks/edit">
      <input id="editTaskTitle" type="text" value="{{title}}">
      <textarea id="editTaskBody" rows="10" maxlength="200" placeholder="Max characters is 200">{{body}}</textarea>
      <input id="editTaskUserId" type="hidden" value="{{userId}}">
      <input id="editTaskId" type="hidden" value="{{_id}}">
      <input type="submit">
    </form>
    <a href="#" class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</template>

